<section>
  <div class="container">
    <h1>Bienvenido</h1>
    <article class="user-info">
      <div class="list-card">
        <ul>
          <li>Nombre de Usuario:</li>
          <li>Correo:</li>
        </ul>
      </div>
      <div class="list-card">
        <ul>
          <li>{{username}}</li>
          <li>{{email}}</li>
        </ul>
      </div>
    </article>
    <div>
      <a href="board/edit/{{_id}}">Editar</a>
      <a href="board/delete">Eliminar</a>
    </div>
  </div>
</section>