<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav>
      <ul class="nav-list">
        <li>
          <a href="/board">Perfil</a>
        </li>
        <li>
          <a href="/logout">Cerrar Sesión</a>
        </li>
      </ul>
    </nav>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
